{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="app-home">
        <h1>Symfony + Twig + Webpack Encore are working</h1>
        <p>If this text is styled, the app.css entrypoint is loading correctly.</p>
    </main>
{% endblock %}
